# IDEs
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
.coverage.*
*.cover
htmlcov/

# Test results
*.pyc
__pycache__/
*.pyo
*nosetests.xml
*coverage.xml
.cache
.hypothesis/

# ignore all in generated/markdown that is not Welcome.md
generated/markdown/*
!generated/markdown/Welcome.md
